<ion-header>
  <ion-toolbar>
    <ion-title>Escolha seu Corte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="header-content">
    <h1>Las Runas</h1>
  </div>

  <div class="centralizar-conteudo">
    <h2>Você escolheu, {{ barbeiro }}</h2>
    <p>Escolha o serviço desejado:</p>
  </div>

  <ion-list>
    <ion-item button (click)="agendarServico('Corte', 32)">
      <ion-label>Corte</ion-label>
      <ion-note slot="end">R$ 32,00</ion-note>
    </ion-item>
    <ion-item button (click)="agendarServico('Corte Navalha', 38)">
      <ion-label>Corte Navalha</ion-label>
      <ion-note slot="end">R$ 38,00</ion-note>
    </ion-item>
    <ion-item button (click)="agendarServico('Corte Máquina', 25)">
      <ion-label>Corte Máquina</ion-label>
      <ion-note slot="end">R$ 25,00</ion-note>
    </ion-item>
    <ion-item button (click)="agendarServico('Barba Navalha', 25)">
      <ion-label>Barba Navalha</ion-label>
      <ion-note slot="end">R$ 25,00</ion-note>
    </ion-item>
    <ion-item button (click)="agendarServico('Barba Máquina', 20)">
      <ion-label>Barba Máquina</ion-label>
      <ion-note slot="end">R$ 20,00</ion-note>
    </ion-item>
    <ion-item button (click)="agendarServico('Sobrancelha', 15)">
      <ion-label>Sobrancelha</ion-label>
      <ion-note slot="end">R$ 15,00</ion-note>
    </ion-item>
    <ion-item button (click)="agendarServico('Acabamento (Pézinho)', 10)">
      <ion-label>Acabamento (Pézinho)</ion-label>
      <ion-note slot="end">R$ 10,00</ion-note>
    </ion-item>
  </ion-list>
</ion-content>
