<ion-header>
  <ion-toolbar>
    <ion-title>Registrar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="registrarForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input formControlName="nome" type="text" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Telefone</ion-label>
      <ion-input formControlName="telefone" type="tel" required></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit" [disabled]="!registrarForm.valid">Registrar</ion-button>
  </form>
</ion-content>
