<ion-header>
  <ion-toolbar>
    <ion-title>Escolha Data e Hora</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="header-content">
    <h1>Las Runas</h1>
  </div>

  <ion-grid>
    <ion-row class="centralizar-itens">
      <ion-col size="12" size-md="6">
        <ion-item>
          <ion-label>Serviço</ion-label>
          <ion-input [value]="nomeServico" readonly></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Preço</ion-label>
          <ion-input [value]="'R$ ' + precoServico" readonly></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Barbeiro</ion-label>
          <ion-input [value]="barbeiro" readonly></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row class="centralizar-datetime">
      <ion-col size="12" size-md="6">
        <ion-item>
          <ion-label>Data</ion-label>
          <ion-datetime
            [(ngModel)]="data"
            displayFormat="DD MMM YYYY"
            min="2024-01-01"
            placeholder="Escolha a Data">
          </ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>Hora</ion-label>
          <ion-input
            [(ngModel)]="hora"
            placeholder=": HH:MM"
            type="text">
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row class="centralizar-botao">
      <ion-col size="12" size-md="6">
        <ion-button expand="full" (click)="confirmarAgendamento()">Confirmar Agendamento</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
