.header-content {
  text-align: center; 
  margin-bottom: 2rem;
}

.header-content h1 {
  font-size: 2rem;
  color: #6d4c41; 
  margin: 0; 
}

.barbeiro-card {
  display: flex; 
  justify-content: center; 
  margin-bottom: 1rem; 
}

.ion-card {
  width: 100%; 
  max-width: 300px; 
}

.barbeiro-foto {
  width: 100%; 
  height: auto; 
}
