<ion-header>
  <ion-toolbar>
    <ion-title>Escolha seu Barbeiro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="header-content">
    <h1>Las Runas</h1>
  </div>

  <div *ngFor="let barbeiro of barbeiros" (click)="selecionarBarbeiro(barbeiro)" class="barbeiro-card">
    <ion-card>
      <img [src]="barbeiro.foto" alt="{{ barbeiro.nome }}" class="barbeiro-foto">
      <ion-card-header>
        <ion-card-title>{{ barbeiro.nome }}</ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>
